.columnUp{

    margin-top: 40px;
    margin-left: 30px;
    
}

.listItem{

   
}

.sp{
    text-align: center;
}

.columnDo{

    margin-top: 40px;
    margin-left: 80px;

}



.cc{

    background-color:#0C46E2 ;
    color: aliceblue;
}


.mt{

    
   width: 100%;
   height: 15%;
}

.forFooter{

    margin-top: 150px;
}

.tt{
    text-decoration: none;
    color: aliceblue;
}

.making{

    width: 100%;
    background-color: #0C46E2;
}


.ht{
  
     background-color: #0C46E2;
     color: aliceblue;
     font-size: xx-large;
     padding:30px;

}

.hhj{

     width: 100%;
}
