.formdiv{
    margin-top: 40px;
    margin-left: 50px;
   
}
.fo{

    margin-top: 120px;
    bottom: 0;
    position: fixed;
    width: 100%;
    

}

.in{
    background-color: #0C46E2;
    width: 7%;
    height: 50px;
    color: aliceblue;
    border: #0C46E2;
    border-radius: initial;
   

}

.hio{
    width: 100%;
    height: 100%;
}

.jop{
    margin: 10px;
    padding: 10px;
}

.jklm{

    margin-top: 20px;
}