.formdiv{
    margin-top: 40px;
    margin-left: 50px;
   
}
.fo{

    margin-top: 120px;

}

.in{
    background-color: #0C46E2;
    width: 7%;
    height: 50px;
    color: aliceblue;
    border: #0C46E2;
    border-radius: initial;
   

}