.not{

  background-color: darkgrey;
  height:100%;
  margin-left: 10px;
  margin-top: 56px;
}

.gg{
    margin-left: 10px;
    background: size 60px;;
}

.cc{
    height: 70px;
    margin-top: 20px;
    
   
}

.co{
    font-size: larger;
    margin-top: 20px;
   
}

h4{
    
    margin-top: 10px;
}

ul{

    margin-top: 0;

}

.lii {

    margin-top: 0;
}

.doo{

    margin-top: 25px;
}

