.dg{

    margin-top: 50px;
}

.jj{
     font-size: 20px;
}

.bn{
 
  width: 60%;
  

}

.hh{

    margin-top: 40px;
    float:right;
    margin-right: 100px;
    border: 0cm;
   background-color: aqua;
   width: 100px;
   height: 40px;
}

.bba{
   
    /* background-color: #FAEBD7; */
}

.bbb{

background-color:#DCDCDC ;
padding: 20px;
margin-right: 20px;
margin-left: 20px;
margin-top: 60px;

}

.bbc{

background-color: #FFE4C4;
margin-top: 60px;
padding: 10px;

}

.bbd{

/* background-color: #FFEBCD; */


}

.vn{


}

.vm{

     margin: 20px;

}

.jjk{

    margin-top: 100px;
}